<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>
        .card {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 400px;
            padding: 20px;
            text-align: center;
        }
        p {
            text-align: start;
        }
    </style>
</head>
<body>
    <div class="card">
        <h5 class="card-title">Informasi Mahasiswa</h5>
        <div class="card-body">
            <p class="card-text">Nama: <span class="fw-bold">Agrieva Xananda Pramuditha</span></p>
            <p class="card-text">Kelas: <span class="fw-bold">1IA06</span></p>
            <p class="card-text">NPM: <span class="fw-bold">50423070</span></p>
            <p class="card-text">Learn: <span class="fw-bold">Typescript</span></p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-pzjw8f+JNl3J3ax9rmsv5txDdTk9WVh3Nw3LBm5vqH24dN7e0bo1hqy2t9miA3U6" crossorigin="anonymous"></script>
</body>
</html>
